:root {
  /* fonts */
  --regular-10: "Open Sans";

  /* font sizes */
  --regular-10-size: 10px;
  --regular-12-size: 12px;
  --regular-14-size: 14px;
  --regular-15-size: 15px;
  --semibold-16-size: 16px;

  /* Colors */
  --grey-grey-1: #f6f6f6;
  --blue-blue-1: #2f80ed;
  --dark-dark-3: #4f4f4f;
  --dark-dark-2: #828282;
  --color-white: #fff;
  --dark-dark-1: #b2bcca;
  --color: #1660cf;
  --color-black: #000;
  --grey-grey-2: #e8effa;

  /* Gaps */
  --gap-sm: 8px;
  --gap-md: 18px;

  /* Paddings */
  --padding-md: 8px;

  /* border radiuses */
  --br-sm: 1px;
  --br-md: 2px;
  --br-lg: 4px;

  /* Effects */
  --shadow-1: 0px 2px 6px rgba(0, 0, 0, 0.14);
  --button-shadow-1: 0px 4px 4px rgba(14, 53, 191, 0.25);
}
